.footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background:rgb(66, 66, 66);
    color: black;
}

.footer h3{
    padding: 10px;
}

.footer i{
    size:50px;
    color:black;
}

a{
    text-decoration: none;
    color:inherit;
    font-family: inherit;
    font-size: 1rem;
}
